#charts-container {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
}

.options {
  position: fixed;
  background: rgba(35, 156, 254, 0.463);
  display: flex;
  justify-content: center;
  padding: 5px;
  z-index: 1;
  top: 5px;
  right: 5px;
  left: 5px;
}

.species-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.plot-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.ylabel-yaxis-plot-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 90vw;
  height: 50vh;
}

.ylabel {
  width: 20px;
  height: 100%;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.ylabel-text {
  top: 50%;
  left: 50%;
  position: absolute;
  transform-origin: center;
  transform: translate(-50%, -50%) rotate(-90deg);
}

.yaxis {
  width: 50px;
  height: 100%;
  position: relative;
}

.ytick {
  background: black;
  width: 5px;
  height: 2px;
  position: absolute;
  right: 0;
}

.ytickText {
  position: absolute;
  right: 10px;
  transform: translate(0, 50%);
}

.ytickInsideText {
  position: absolute;
  transform: translate(60px, 50%);
  text-wrap: nowrap;
  z-index: 1;
}

.svgContainer {
  width: 100%;
  height: 100%;
  position: relative;
  border-bottom: black solid;
  border-left: black solid;
  bottom: 3px;
}

.plot {
  position: absolute;
  width: 100%;
  height: 100%;
}

.path {
  stroke-width: 0.2rem;
  transform: translateY(1px) scaleY(-1);
  transition: all 0.2s ease-in-out;
}

.multipath {
  cursor: pointer;
}

.multipath:hover {
  stroke-width: 0.3rem;
}

.multipath-selected {
  stroke-width: 0.4rem;
}

.selectedPath {
  stroke-width: 0.8rem;
}

.selectedPath:hover {
  stroke-width: 0.9rem;
}

.L50,
.MCRS {
  stroke-width: 0.1rem;
  pointer-events: none;
}

.legendContainer {
  position: absolute;
  padding: 8px;
  right: 0;
  top: 40px;
  border: 2px solid black;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;

  user-select: none;
}

.itemLegendContainer {
  display: flex;
  align-items: center;
}

.L50LegendStroke {
  width: 20px;
  border: dashed 2px red;
  margin: 5px;
}

.MCRSLegendStroke {
  width: 20px;
  height: 2px;
  background: red;
  margin: 5px;
}



.circleBox {
  position: absolute;
  height: 100%;
  bottom: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transform: translate(0%, 50%);
}

.circle {
  position: absolute;
  width: 6px;
  height: 6px;

  border-radius: 50%;
  transform: translate(-50%, 50%)
}


.tooltip {
  position: absolute;
  display: none;
  padding: 8px;
  background: white;
  border-radius: 5px;
  pointer-events: none;
  opacity: 0.7;
  transform: translate(-50%, -10px);
  transition: all 0.1s ease-in-out !important;
}

.circleBox:hover .circle {
  border-width: 4px !important;
  width: 10px;
  height: 10px;
  transition: all 0.1s ease-in-out !important;
}

.xaxis-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.xtick {
  background: black;
  width: 2px;
  height: 5px;
  position: absolute;
}

.xtickText {
  position: absolute;
  text-align: center;
  transform: translate(-50%);
}

.xaxis {
  height: 30px;
  width: 100%;
  position: relative;
}

.xlabel {
  height: 20px;
  text-align: center;
}

.title {
  background: yellow;
  text-align: center;
  font-size: large
}

.buttonsCategories {
  display: flex;
  justify-content: center;
}

button {
  cursor: pointer;
}

.exportButton {
  width: 30px;
  height: 30px;
  background-color: red;
}

.export-container {
  top: 0;
  right: 0;
  position: absolute;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}

.export-options-container {
  background: blue;

  padding: 20px;
  display: none;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}